.expert{
   background: rgb(249, 163, 102,0.1);
   margin-top: 20px;

}
.expert_text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin-top: 80px;
    color: #000000;
}
.expert_para{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: justify;
    color: rgb(0, 0, 0,0.5);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 40px;

  }
  .one {
    grid-column: 1;
    grid-row: 1 / 3;
    border-radius: 18px; 
  }
  .one img{
      width: 100%;
  }
  .two {
    grid-column: 2 / 2;
    grid-row: 2 / 4;
    border-radius: 18px; 
  }
  .two img{
    width: 100%;
}
  .three {
    grid-column: 1;
    /* grid-row: 2 / 5; */
    background: #F78C40;
    border-radius: 18px;
    margin-bottom: 20px;
  }
  .four {
    grid-column: 2;
    grid-row: 1 / 1;
    background: #F78C40;
    border-radius: 18px;
    margin-top: 20px;
  
  }
  .text_label1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 25px;
  }
  .text_label2{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0px;
  }
  .count{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF; 
  }
  .btn_class{
    background: #C12328;
    border-radius: 6px;
    border: none;
    width: 130px;
    height: 45px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .btn_text{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    text-align: center; 
    color: #FFFFFF;
    margin-top: 7px;
  }
  .expert_img img{
    width: 100%;
  }
  .our_client{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    align-items: center;    
    color: #0A0A0A;
    margin-top: 80px;
    font-size: 22px;
  }
  .video_box{
    width: 160px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;   
  }
  /* .video_box img{
    margin-top: 20px;
    height: 50px;
  } */
  .center_text{
    margin-top: 20px;
  }
  .comapny_img{
    width: 100%;
    height: auto;
  }
  .navbar-toggler{
    background: #F78C40;
  }