

  .footer{
    padding: 10px;
    background-color: #0A0A0A;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 50px;
}
.footer_icon{
  padding: 0px 20px;
}
.Footer{
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  display: flex;
align-items: center;
}
.footer_content{
  width: 78%;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 14px;
  align-items: center;
text-align: justify;
font-weight: normal;
display: flex;
}
.Footer_middle{
  color: #FFFFFF;
  font-family: 'Nunito';
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
font-size: 22px;
display: flex;
align-items: center;

}
.Footer_middle1{
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
opacity: 0.5;
}
.Footer_middle1 p{
  margin-bottom: 0px;
}
.Footer_middle1 p img{
  width: 15px;
}

.Footer_mid_content{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 33px;
align-items: center;
opacity: 0.5;
}
.Footer_mid_content p{
  margin-bottom: 0px;
}
.footer_last{
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 42px;
display: flex;
align-items: center;
opacity: 0.5;
  
}
.footer_last p{
  margin-bottom: 0px;
}
.line {
  border: 0.5px solid #FFFFFF;
  color: #FFFFFF;
  opacity: 0.5;
}
.copyright{
 padding-top: 8px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: justify;
}

.flex_container {
  display: flex;
}

.flex_container > div {
  margin: 10px;
  padding: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto  ;
  }
.grid-item{
  padding: 0px 15px;
}
.grid-item img {
  width: 15px;
}
.footer_text{
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #FFFFFF;
opacity: 0.5;
}

